# General
.DS_Store
*.log
*.sw?

# Go backend
/backend/easypassword
/backend/easypassword.exe
*.db

# Node.js frontend
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*
# Node.js extension
/extension/node_modules
/extension/dist
/extension/dist-ssr
/extension/*.local
/extension/npm-debug.log*
/extension/yarn-debug.log*
/extension/yarn-error.log*
/extension/pnpm-debug.log*
/extension/lerna-debug.log*
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln